body {
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
    color: #444;
    margin: 0px;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

.templates-container {
    max-width: 1200px;
    margin: 80px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.templates-container h2 {
    grid-column: 1 / -1;
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.template {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.template:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.template h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.template p {
    color: #666;
    line-height: 1.6;
    flex-grow: 1;
}

.template img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.button {
    display: block;
    width: 100%;
    padding: 12px 0;
    font-size: 18px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.button:hover {
    background-color: #218838;
}

.cv-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f8f9fa;
    background-image: url('color.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 11px;
    width: 100%;
}

.cv-container h2 {
    font-family: 'Cursive', sans-serif;
    color: #007bff;
    font-style: italic;
    margin: 20px 0;
    animation: fade-in-out 3s ease-in-out infinite;
}

@keyframes fade-in-out {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.cv-section {
    width: 100%;
    max-width: 800px;
    background-color: #ffffff;
    border: 2px solid #007bff;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cv-section h3 {
    font-size: 22px;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    color: #007bff;
}

.cv-section p {
    font-size: 16px;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: #333;
}

.btn-primary {
    background-color: #007bff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    align-items: center;
    display: inline-block;
    color: #fff;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.contact-info {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    align-items: center;
}

.contact-info h3, .contact-info p {
    font-size: 18px;
    margin-bottom: 10px;
}

.legal-info {
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: #666;
    margin-top: 20px;
}

.legal-info p {
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
    color: #666;
}