body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
    color: #444;
    margin: 0;
    height: 100vh;
    padding: 0;
}

.cv-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f8f9fa;
    background-image: url('color.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 11px;
    width: 100%;
}

.cv-container h2 {
    font-family: 'Cursive', sans-serif;
    color: #007bff;
    font-style: italic;
    margin: 20px 0;
    animation: fade-in-out 3s ease-in-out infinite;
}

@keyframes fade-in-out {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.cv-section {
    width: 100%;
    max-width: 800px;
    background-color: #ffffff;
    border: 2px solid #007bff;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cv-section h3 {
    font-size: 22px;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    color: #007bff;
}

.cv-section p {
    font-size: 16px;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: #333;
}

.btn-primary {
    background-color: #007bff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    color: #fff;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.contact-info {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    align-items: center;
}

.contact-info h3, .contact-info p {
    font-size: 18px;
    margin-bottom: 10px;
}

.legal-info {
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: #666;
    margin-top: 20px;
}

.legal-info p {
    margin-bottom: 0;
}
