body {
    background-image: url('bl.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.templates-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.templates-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.template {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    padding: 15px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.template:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.template h3 {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.template p {
    color: #666;
    line-height: 1.6;
}

.template img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-top: auto;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}
