# Node modules
/node_modules

# Production
/public/build

# Laravel specific
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# IDEs and Editors
/.fleet
/.idea
/.vscode

# PHPStorm
/.phpunit.cache

# Coverage reports
/coverage

# Frontend build
/public/css/app.css
/public/css/app.css.map
/public/js/app.js
/public/js/app.js.map
/public/mix-manifest.json
/public/hot
public/storage

# Laravel Mix
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Écrire à Kennedy Merrelose
